# Copy this file to .env and fill in your values
DATABASE_URL=postgresql+psycopg2://postgres:yourpassword@localhost:5433/cart_db
FLASK_DEBUG=True
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=cart_db
